.container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.back {
    color: var(--text-color );
    font-size: 32px;
    width: 32px;
    height: 32px;
    
    border-radius: 50%;
    cursor: pointer;
}

.back:hover {
    background-color: var(--hover-overlay);
}


.info {
    color: var(--text-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    margin: 8px;
    justify-content: center;
}

.info .img {
    width: 30%;
    height: 100%;
    max-height: 350px;
    max-width: 250px;
    min-width: 250px;
    padding: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.info .img img {
    height: 100%;

    padding: 0;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.info .text {
    max-width: 700px;
    height: 350px;
    max-height: 350px;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 16px;
}

.info .text .name {
    font-size: 2.4em;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.5em;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.info .text .author {
    width: 200px;
    color: var(--text-color);
    text-decoration: none;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.info .text .author .avt {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.info .text .author .author-name {
    font-size: 0.8em;
    display: flex;
    margin-left: 8px;
    
}

.info .text .author:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.info .text .content {
    position: relative;
    width: 95%;
    height: 8em;
    overflow-y: auto;
    font-size: 0.9em;
    margin-top: 8px;
    cursor: default;
    padding: 8px;
    border-radius: 8px;
    
}

.info .text .tags {
    margin-top: 8px;
    position: relative;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}

.info .text .tags button{
    position: absolute;
    background: none;
    border: none;
    right: 0;
    bottom: 0px;
    padding: 0; 
    font-size: 1.4em;
}

.info .text .tags ul {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.info .text .tags ul li {
    margin: 0 2px;
    font-size: 0.9em;
    padding: 1px 8px;
    border-radius: 50vh;
    white-space: nowrap;
    background-color: rgb(226, 226, 252);
    cursor: pointer;
}

.info .text .tags ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.buttons {
    margin-top: 8px;
}

.buttons button {
    width: 100px;
    padding: 6px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
}

.buttons button:first-child {
    border: 1px solid var(--text-color);
}

.buttons button:last-child {
    margin-left: 8px;
    color: #fff;
    background-color: var(--search-button-color);
}

.buttons button:hover {
    box-shadow: 0 0 5px var(--search-button-color);
}

.eposide {
    color: var(--text-color);
    height: 100%;
    margin-left: 1%;
    width: 99%;
    min-width: 200px;
    background-color: #fefefe;
    overflow: hidden;

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

.eposide h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4px;
    padding: 0;
}

.eposide ul {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    height: 85%;

    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

.eposide ul li {
    width: 100%;
    margin: 0px 0.7%;
    height: 48px; 
    padding-left: 0px;
    margin-top: 8px;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    
}

.eposide ul li:hover {
    background-color: rgb(237, 237, 255);
}

.eposide ul li a {
    position: relative;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.eposide ul li a .stt {
    color: var(--text-color);
    font-size: 1.2em; 
    font-weight: 400;
    margin-left: 8px;
}

.comic-page {
    margin-top: 20px;
    width: 100%;
}


.comic-page .page-bar {
    width: 100%;
    height: 35px;
}

.comic-page .page-bar ul {
    display: flex;
    list-style: none;
}

.comic-page .page-bar ul li {
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 800;
    transition: 0.3s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.127);
}

.comic-page .page-bar ul li.active {
    color: rgb(29, 29, 29);
    border-bottom: 2px solid black;
}

.comic-page .page {
    position: relative;
    display: none;
    width: 100%;
    height: 500px;
}

.comic-page .page.active {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
}

ul {
    list-style: none;
}

.container-commants {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.container-commants .commant {
    width: 100%;
}

.commant {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
}

.commant .cm-avt, .commant .cm-avt img{
    height: 38px;
    border-radius: 38px;
}

.commant .cm-avt {
    margin-top: 8px;
    margin-left: 8px;
}

.commant .cm-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 12px;
    width: 50%;
    height: 100px;
    color: var(--text-color);
}

.commant .cm-text .name {
    color: #000;
    width: 100%;
    margin-top: 6px;
    height: 1.4em;
}

.commant .cm-text .name a {
    color: #000;
    text-decoration: none;
}

.commant .comic {
    color: var(--text-color);
    width: 35%;
    height: 100px;
    border: none;
    display: flex;
    align-items: start;
    text-decoration: none;
}

.commant .cm-text .bar {
    color: var(--text-color);
    position: absolute;
    display: flex;
    bottom: 0;
    z-index: 2;
}

.commant .cm-text .bar div{
    margin-right: 18px;
    margin-bottom: 6px;
    cursor: pointer;
}

.commant .cm-text .bar .reply {
    font-weight: 600;
    color: var(--text-color);
    color: #646363;
}

.commant .rep {
    position: relative;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: inherit;
    

    height: 0;
    overflow: hidden;
}

.commant .rep.active {
    height: inherit;
}

.commant .rep form {
    display: flex;
    width: 100%;
    margin-left: 32px;
    margin-bottom: 8px;
}

.commant .rep h4 {
    margin: 32px;
    margin-top: 8px;
    margin-bottom: 4px;
    width: 100%;
}

.commant .rep form textarea {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    height: 30px;
    width: 90%;
    outline: none;
    resize: none;
    padding: 4px;
    border-radius: 4px;
}

.commant .rep form div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding: 0 10px;
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 4px;
    background-color: var(--search-button-color);
    color: #fff;
    cursor: pointer;
}

.commant .rep form div:is(:focus, :hover) {
    background-color: rgb(11, 11, 255);
}

.rep-commant {
    width: 100%;
    padding-left: 50px;
}

.rep-commant ul li .commant {
    border: none;
    height: 0px;
    overflow: hidden;
}

.rep-commant.active ul li .commant { 
    height: inherit;
}

@media only screen and (min-width: 1160px) {
    .img {
        width: auto;
    }

    .text {
        width: 77%;
    }

    .info .text .name {
        font-size: 2em;
    }

    .eposide ul li {
        width: 31.8%;
    }
}

@media only screen and (max-width: 1160px) {
    .img {
        width: auto;
    }

    .text {
        width: 67%;
    }

    .info .text .name {
        font-size: 1.8em;
    }

    .eposide ul li {
        width: 32%;
    }
}

@media only screen and (max-width: 1000px) {
    .img {
        width: auto;
    }

    .text {
        width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .img {
        width: 39%;
    }

    .text {
        width: 57%;
    }

    .info .text .name {
        font-size: 1.6em;
    }

    .eposide ul li {
        width: 48%;
    }
}


@media only screen and (max-width: 800px) {
    .img {
        width: auto;
    }

    .text {
        width: 57%;
    }

    .info .text .name {
        font-size: 1.6em;
    }

}

@media only screen and (max-width: 650px) {
    .back {
        margin-left: 32px;
    }
    
    .img {
        width: auto;
    }

    .text {
        width: 90%;
        padding-left: 8px;
    }

    .info .text .name {
        font-size: 1.6em;
    }

    .text .buttons {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }
}

@media only screen and (min-width: 768px) {

    /* For mobile phones: */
    .show-overlay {
        width: 0px;
        height: 90%;
        background-color: #ffffff00;
        z-index: -1;
    }

    
}

@media only screen and (max-width: 500px) {
    .img {
        width: 100%;
    }

    .text {
        width: 90%;
        margin-left: 0px;
        padding-left: 0px;
    }

    .back {
        margin-left: 0px;
    }

    .info .text .name {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 400px) {
    .img {
        width: 100%;
    }

    .text {
        width: 100%;
        padding-left: 0px;
    }

    .info .text .name {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 345px) {
    .back {
        margin-left: 0px;
    }

    .eposide ul li {
        width: 98%;
    }
}
