.container {
    width: 97%;
    margin-left: 28px;
    align-items: center;
    flex-direction: column;
}

.info-user {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
}

.info-user .main {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    
    min-height: 100px;
    height: 20dvw;
    max-height: 150px;
}

.info-user .main .info-account {
    height: 80%;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 18px;
}

.info-user .main .info-account .avt {
    height: 100%;
    border-radius: 3em;
}

.info-user .main .info-account .avt img{
    height: 100%;

    border-radius: 50%;
}

.info-user .main .info-account .text {
    
    width: 100%;
    margin-left: 8px;
}

.info-user .main .info-account .text .name {
    font-size: 1.5em;
}

.customize {
    border: none;
    background-color: #00000000;
    cursor: pointer;
     
}

.info-user .main .info-account .text p {
    font-size: 0.8em;
    margin-left: 4px;
}

.info-user .main .follow {
    position: absolute;
    right: 5%;
    padding: 4px;
    width: 100px;
    bottom: 50%;
    transform: translateY(50%);
    padding: 5px;
    border-radius: 50px;
    border: 1px solid var(--search-button-color);
    color: #fff;
    background-color: var(--search-button-color);
    cursor: pointer;
}

.info-user .main .follow:hover {
    background-color: var(--button-honver-color);
}

.info-user .main .followed {
    position: absolute;
    right: 5%;
    padding: 4px;
    width: 100px;
    bottom: 50%;
    transform: translateY(50%);
    padding: 5px;
    border-radius: 50px;
    border: var(--primary-border);
    color: var(--text-color);
    background-color: white;
    cursor: pointer;
}

.info-user .main .followed:hover {
    background-color: rgb(227, 227, 227);
}

.info-user .main .followed::after {
    content: 'ed';
}

.items {
    margin-top: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
    align-content: start;
}

.about {
    margin-top: 8px;
    padding-top: 8px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contaner-page {
    max-width: 900px;
}

@media only screen and (min-width: 1000px) {
    .info-user {
        max-width: 900px;
    }
    
    .container-account {
        max-width: 900px;
    }
}

@media only screen and (max-width: 1000px) {
    
}

@media only screen and (max-width: 900px) {
    
}


@media only screen and (max-width: 800px) {
    
}

@media only screen and (max-width: 650px) {
    .info-user .main .follow {
        margin-top: 8px;
        position: relative;
        display: inline;
        transform: translateY(0);
        margin-left: 8px;
        padding: 4px;
        width: 80px;
        border-radius: 50px;
        color: #fff;
        background-color: var(--search-button-color);
    }

    .info-user .main .followed {
        margin-top: 8px;
        position: relative;
        display: inline;
        transform: translateY(0);
        margin-left: 8px;
        padding: 4px;
        width: 80px;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        width: 100%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 400px) {
    
}

@media only screen and (max-width: 360px) {
    .page {
        width: 110%;
    }
}


@media only screen and (max-width: 342px) {
    .page .items {
        justify-content: center;
    }

}