
.container {
    width: 100%;
    margin-left: 38px;
    max-width: 100%;
    color: var(--text-color);
}

.container h2 {
    margin-top: 18px;
    font-size: 32px;
    color: #111;
}

ul {
    list-style: none;
}

.change-avt {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 10px;
    margin-left: 4px;
}

.change-avt .avt-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.change-avt .avt-image img {
    width: 90%;
    max-height: auto;
}

.text {
    max-width: 350px;
    width: 100%;
    min-width: 320px;
    margin-bottom: 50px;
}

.change-avt form input[type=file] {
    width: 300px;
    bottom: unset;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--search-button-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: var(--tran-03);
}
  
input[type=file]::file-selector-button:hover {
    background: var(--button-honver-color);
}

.change-info input{
    height: 42px;
    min-width: 350px;
    width: 75%;
    outline: none;
    margin-top: 8px;
    font-size: 20px;
    padding: 6px 12px;
    caret-color: var(--text-color);
    border: var(--primary-border);
    border-radius: 3px;
    color: var(--text-color);
}

.change-info textarea {
    height: 36px;
    min-width: 350px;
    width: 75%;
    outline: none;
    margin-top: 8px;
    font-size: 18px;
    padding: 6px 12px;
    caret-color: var(--text-color);
    resize: none;
    height: 345px;
    border: var(--primary-border);
    border-radius: 3px;
    color: var(--text-color);
}

.buttons {
    position: absolute;
    bottom: 8px;
    right: 24px;
    margin-bottom: 3px;
    
}

.buttons button {
    padding: 12px 24px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.buttons .save:hover {
    background-color: var(--button-honver-color);
}

.buttons .save {
    background-color: var(--search-button-color);
    color: #fff;
    border-radius: 25px;
}

.buttons .cancel {
    background-color: #fff;
    color: var(--search-button-color);
    font-weight: 600;
    font-size: 16px;
}

